body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============burger button ============*/
.hamburger {
  width: 100px;
  height: 100px;
  padding: 20px;
  display: flex;
  border: solid 1px white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.line {
  height: 6px;
  width: 58px;
  background: white;
  margin: 5px auto;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hamburger:hover,
.hamburger:focus {
  outline: none;
}
.hamburger:hover .line:nth-child(1),
.hamburger:focus .line:nth-child(1) {
  transform: rotate(45deg) translate(12px, 12px);
}
.hamburger:hover .line:nth-child(2),
.hamburger:focus .line:nth-child(2) {
  visibility: hidden;
}

.hamburger:hover .line:nth-child(3),
.hamburger:focus .line:nth-child(3) {
  transform: rotate(-45deg) translate(15px, -16px);
}

/* =============== black-greeen menu =============== */
.wrapper {
  display: flex;
  gap: 1.5rem;
  background-color: black;
  padding: 10px 0px 10px 0px;
}
.icon {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-decoration: none;
  overflow: hidden;
}
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.7s ease;
  border-radius: 30px;
  border: solid #16a085 2px;
}
.icon i {
  position: relative;
  color: #ffffff;
  font-size: 23px;
  margin: auto;
  transition: all 0.25s ease;
}

.icon:hover::before {
  box-shadow: inset 0 0 0 60px #16a085;
}
.main_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100vh;
}
.hidden {
  display: none;
}
.main_menu_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 75%;
  background-color: black;
}

.main_menu_button {
  display: flex;
  justify-content: flex-start;
  color: #16a085;
  border-style: none;
  font-size: 1.5rem; /* 24px */
  padding: 14px 14px 14px 14px;
  width: 100%;
}
.main_menu_button:hover {
  background-color: #16a085;
  color: white;
}
.main_menu_button:active {
  background-color: #16a085;
}
.main_menu_button:focus {
  background-color: #16a085;
}
.mr_12 {
  margin-right: 48px;
}
/* =============== purple floating text ================= */
.back {
  background-color: #4f346e;
  display: flex;
  flex-direction: column;
}
.words {
  color: #4f346e;
  font-size: 0;
  line-height: 1.5;
}
.words li {
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
  letter-spacing: 10px;
}
@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 1);
  }
  100% {
    transform: translate(30%, 0);
  }
}
.words li:nth-child(2) {
  animation-delay: 0.5s;
}
.words li:nth-child(3) {
  animation-delay: 1s;
}
.words li:nth-child(4) {
  animation-delay: 1.5s;
}
.words li:nth-child(5) {
  animation-delay: 2s;
}
.words li:nth-child(6) {
  animation-delay: 2.5s;
}
.words li:nth-child(7) {
  animation-delay: 3s;
}
.words li:nth-child(8) {
  animation-delay: 3.5s;
}
.words li:nth-child(9) {
  animation-delay: 4s;
}
.words li:nth-child(10) {
  animation-delay: 4.5s;
}
/* ================== step text =================== */
.step {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: black;
}
.container p {
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  height: 1em;
  overflow: hidden;
  position: relative;
  left: -0.8em;
}
.container p:nth-child(odd) {
  transform: skewY(-30deg) skewX(45deg) scaleY(1.3333);
}
.container p:nth-child(even) {
  transform: skewY(-30deg) scaleY(1.3333);
}
.container p:nth-child(2) {
  margin-left: 1.3em;
}
.container p:nth-child(3) {
  margin-left: 2.6em;
}
.container p span {
  display: block;
  text-align: center;
  line-height: 1em;
  animation: lettering 3s infinite ease-in-out alternate;
}
@keyframes lettering {
  to {
    transform: translateY(-100%);
  }
}
/* ================ blue invite card =============== */

.blue_invite_card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-image: linear-gradient(120deg, #3664ad 0%, #78bedf 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#card {
  width: 150px;
  height: 300px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: move1 5s ease-in-out infinite;
  background-clip: padding-box;
}
h1 {
  position: absolute;
  z-index: 1;
  font-size: 120px;
  letter-spacing: 15px;
  color: #fff;
}
@keyframes move1 {
  0% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-200px);
  }
}
#rect {
  bottom: 300px;
  left: 70%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
}
#circle {
  bottom: 300px;
  left: calc(100vw / 3);
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
}

/* ============= Dark Social Media Icons =============  */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background: #00071c;
}
.socialUl {
  position: relative;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
}
.socialLi {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 20px;
}
.socialLi::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}
.socialLi::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}
.socialLi span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
}
.socialLi:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}
.socialLi:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
.socialLi:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
.socialLi:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
.socialLi:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
.socialLi:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}
.socialLi:nth-child(1):hover span {
  background: #3ba071;
}
.socialLi:nth-child(2):hover span {
  background: #2c3456;
}
.socialLi:nth-child(3):hover span {
  background: #cf5c80;
}
.socialLi:nth-child(4):hover span {
  background: #336b79;
}

/* ======= Dark Button With Shadow ========== */

.glowingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.glowing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 270px;
  height: 90px;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #151823;
  animation: textColor 5s ease infinite;
}
.glowing::after {
  position: absolute;
  content: "";
  top: 3vw;
  z-index: -1;
  height: 100%;
  width: 120%;
  transform: scale(0.75);
  filter: blur(5vw);
  background: linear-gradient(280deg, #0fffc1, #7e0fff);
  background-size: 200%, 200%;
  animation: Glow 5s ease infinite;
}
.glowing:hover {
  color: white;
  background-color: #164f59;
}
@keyframes Glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}
/* ================ animated balls ==================== */

.animatedBallsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  position: absolute;
}
.animatedBallsContainer:after {
  content: "";
  width: 20px;
  height: 5px;
  position: absolute;
  background: #000;
  border-radius: 50%;
  bottom: 0;
  opacity: 0.4;
  animation: shadow 2s linear infinite;
}
.animatedBallsContainer:nth-child(2):after {
  animation-delay: -0.3s;
}
.animatedBallsContainer:nth-child(3):after {
  animation-delay: -0.6s;
}
.animatedBallsCircle {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  animation: animate 2s linear infinite;
}
.animatedBallsContainer:nth-child(2) .animatedBallsCircle {
  animation-delay: -0.3s;
}
.animatedBallsContainer:nth-child(3) .animatedBallsCircle {
  animation-delay: -0.6s;
}
@keyframes animate {
  0% {
    transform-origin: 400% 50%;
    transform: rotate(0);
  }
  50% {
    transform-origin: 400% 50%;
    transform: rotate(360deg);
  }
  50.1% {
    transform-origin: -300% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: -300% 50%;
    transform: rotate(-360deg);
  }
}
@keyframes shadow {
  0% {
  }
  12.5% {
    transform: translate(50px) scale(0.6);
  }
  25% {
    transform: translate(110px);
  }
  37.5% {
    transform: translate(50px) scale(1.4);
  }
  50% {
    transform: translate(0);
  }
  62.5% {
    transform: translate(-50px) scale(0.6);
  }
  75% {
    transform: translate(-110px);
  }
  87.5% {
    transform: translate(-50px) scale(1.4);
  }
  100% {
    transform: translate(0);
  }
}
/* ================= blur navbar ================= */
.blurNavbarbody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #000000;
  font-family: sans-serif;
}
.blurNavbarUl {
  margin: 0;
  padding: 8px 0;
  display: flex;
}
.blurNavbarLi {
  list-style-type: none;
  margin: 0 20px;
  transition: 0.5s;
}
.blurNavbarLink {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  color: #e6e6ea;
  text-transform: uppercase;
  transition: 0.5s;
}
.blurNavbarUl:hover li a {
  transform: scale(1.2);
  opacity: 0.2;
  filter: blur(5px);
}
.blurNavbarUl li a:hover {
  transform: scale(1.8);
  opacity: 1;
  filter: blur(0);
}
.blurNavbarUl li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #009fb7;
  transition: 0.5s;
  transform: scaleX(0);
  z-index: -1;
}
.blurNavbarUl li a:hover:before {
  transition: transform 0.5s;
  transform: scaleX(1);
}
/* ====================== shadow card ================== */

.shadowCardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.shadowCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background: white;
  padding: 5vmin;
  border-radius: 2vmin;
}
.shadowCardH1 {
  font-size: 25px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.shadowCardParagraph {
  font-size: 15px;
  color: black;
  padding-left: 10px;
  border-left: 2px solid navy;
  margin: 6vmin 0;
}

.shadowCard::before {
  position: absolute;
  width: calc(80% - 2px);
  height: calc(80% - 2px);
  background: white;
  border-radius: 100%;
  filter: drop-shadow(6vmin 6vmin 6vmin rgb(242, 7, 7));
  content: "";
  z-index: -10;
  animation: shadowRotate 5s linear infinite;
}
@keyframes shadowRotate {
  to {
    transform: rotateZ(360deg);
  }
}
/* ===================== Shiny Button ================== */

.shinyContainer {
  display: grid;
  height: 200px;
  place-items: center;
  font-family: sans-serif;
}
.shinyLink {
  position: relative;
  padding: 15px 30px;
  /* display: inline-block; */
  color: white;
  /* text-transform: uppercase; */
  letter-spacing: 4px;
  /* text-decoration: none; */
  font-size: 30px;
  font-weight: 700;
  overflow: hidden;
  transition: 0.15s;
}
.shinyLink:hover {
  color: #888;
  background: white;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
  transition-delay: 0.9s;
  animation: infinite;
}
.shinyLink div {
  position: absolute;
  display: block;
}
.shinyLink div:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
}
.shinyLink:hover div:nth-child(1) {
  left: 100%;
  transition: 0.75s;
}
.shinyLink div:nth-child(2) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, white);
}
.shinyLink:hover div:nth-child(2) {
  right: 100%;
  transition: 0.5s;
  transition-delay: 0.6s;
}
.shinyLink div:nth-child(3) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, white);
}
.shinyLink:hover div:nth-child(3) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.shinyLink div:nth-child(4) {
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(45deg, transparent, white);
}
.shinyLink:hover div:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}
/* =================== color loader ================ */
.colorLoaderContainer {
  display: grid;
  place-items: center;
  height: 250px;
}
.colorLoader {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: animate 0.5s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.colorLoader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.colorLoader span:nth-child(1) {
  filter: blur(5px);
}
.colorLoader span:nth-child(2) {
  filter: blur(10px);
}
.colorLoader span:nth-child(3) {
  filter: blur(25px);
}
.colorLoader span:nth-child(4) {
  filter: blur(50px);
}
.colorLoader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #240229;
  border-radius: 50%;
}
/*  =============== Rainbow Dot Loader ================ */
.RainbowDotLoaderConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.RainbowDotLoaderUl {
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.RainbowDotLoaderLi {
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: grow 1.6s ease-in-out infinite;
}
@keyframes grow {
  0%,
  40%,
  100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}
.RainbowDotLoaderUl li:nth-child(1) {
  animation-delay: -1.4s;
  background: #ffff00;
  box-shadow: 0 0 50px #ffff00;
}
.RainbowDotLoaderUl li:nth-child(2) {
  animation-delay: -1.2s;
  background: #76ff03;
  box-shadow: 0 0 50px #76ff03;
}
.RainbowDotLoaderUl li:nth-child(3) {
  animation-delay: -1s;
  background: #f06292;
  box-shadow: 0 0 50px #f06292;
}
.RainbowDotLoaderUl li:nth-child(4) {
  animation-delay: -0.8s;
  background: #4fc3f7;
  box-shadow: 0 0 50px #4fc3f7;
}
.RainbowDotLoaderUl li:nth-child(5) {
  animation-delay: -0.6s;
  background: #ba68c8;
  box-shadow: 0 0 50px #ba68c8;
}
.RainbowDotLoaderUl li:nth-child(6) {
  animation-delay: -0.4s;
  background: #f57c00;
  box-shadow: 0 0 50px #f57c00;
}
/* ================= Header Menu Animation ================== */

.HeaderMenuAnimationUl {
  margin: 5%;
  width: 450px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 25px 0;
  border-radius: 25px;
  border: 0.1px solid #099fff;
  background-color: 18181b;
  box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.HeaderMenuAnimationLi {
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.HeaderMenuAnimationLi:after {
  display: block;
  content: "";
  border-bottom: solid 1px #00ffff;
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.HeaderMenuAnimationLi:hover:after {
  transform: scaleX(1);
}

/* ========= Dark Blue Animate Button ==============*/
.DarkBlueAnimateButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.DarkBlueAnimateButtonLink {
  position: absolute;
  /* top: 50%; */
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1670f0;
  padding: 30px 60px;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.DarkBlueAnimateButtonLink:hover {
  background-color: #000;
  color: #fff;
}
.DarkBlueAnimateButtonLink span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate1 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.DarkBlueAnimateButtonLink span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate2 2s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.DarkBlueAnimateButtonLink span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.DarkBlueAnimateButtonLink span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: animate4 2s linear infinite;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* ============= Light Social Media Icons =========== */

.iconContainer {
  position: relative;
  height: 90px;
  width: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border-radius: 28px;
  box-shadow: 0 5px 15px -5px rgb(0 0 0 / 10%);
  cursor: pointer;
  font-size: 36px;
  text-decoration: none;
  opacity: 0.99;
  overflow: hidden;
}
.iconContainer:nth-child(1) {
  color: #3b5998;
}
.iconContainer:nth-child(2) {
  color: #0077b5;
}
.iconContainer:nth-child(3) {
  color: #1b1f23;
}
.iconContainer:nth-child(4) {
  color: #5da9dd;
}
.iconContainer:nth-child(5) {
  color: #fe0108;
}

.iconContainer::before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  z-index: 1;
}
.iconContainer .lightIcon {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  z-index: 2;
}
.iconContainer:hover .lightIcon {
  color: #ffffff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.iconContainer:hover::before {
  top: -10%;
  left: -10%;
}
.iconContainer.facebook:hover::before {
  background-color: #3b5998;
}
.iconContainer.linkedin:hover::before {
  background-color: #0077b5;
}
.iconContainer.github:hover::before {
  background-color: #1b1f23;
}
.iconContainer.twitter:hover::before {
  background-color: #5da9dd;
}
.iconContainer.youtube:hover::before {
  background-color: #fe0108;
}
/* ======== login form with blue button ========== */
.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.login-box {
  width: 400px;
  padding: 40px;
  background: rgba(96, 76, 76, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #e5f0f1;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  /* top: 0;
  left: 0; */
  padding: 10px 0;
  /* font-size: 30px;
  color: #fff; */
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* ================== Rotating Login Form =================== */

.rotatingLoginFormSpan {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.rotatingLoginFormSection {
  color: #c4c3ca;
  background-color: #1f2029;
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: "unicons";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-style {
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn:active,
.btn:focus {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
}
/* ========= Hover shadow button ================ */

.hoverShadowButtonContainer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* =========== Rounded Pulse Button =========== */

.roundedPulseButton:link,
.roundedPulseButton:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.roundedPulseButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.roundedPulseButton:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.roundedPulseButton-white {
  background-color: #fff;
  color: #777;
}

.roundedPulseButton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.roundedPulseButton-white::after {
  background-color: #fff;
}

.roundedPulseButton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.roundedPulseButton-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
